.navbar-inner {
	background-color: white;
	font-color: black;
	background-image: none;
}

.navbar .nav.pull-right {
	font-size: 150%;
	font-weight: 200;
	margin-top:2px;
}

.bs-masthead {
	margin-top: 50px;
}

.bs-docs-nav {
	background-color: #357ebd;
}

.bs-masthead {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bs-masthead {
	position: relative;
	padding: 30px 15px;
	text-align: center;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}

.bs-docs-home .bs-old-docs {
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.bs-old-docs {
	padding: 15px 20px;
	color: #777;
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
}

/*Mobile View CSS */
/*.iphoneEmulator{width:640px; height:960px; margin: 0 auto; border: 3px black solid;padding:20px;}
*/

.questionHeader{}
.addAuthor{display:none;}
.headerControl{padding:10px;text-align: center;}
.logoTiny{width: 100px; height:20px;
	float:left;}

	.tinyLogoImg{height:20px;}

	.questionBlock{}
	.questionBlock p{margin:0; }

	.borderBottom{
		width: 100%;
		height: 2px;
		background: url(../img/line-sep.jpg) repeat-x;
		clear: both;
	}

	
	.questionNo{vertical-align: middle; color: #c6c6c6; font-family: Arial; font-size: medium; line-height: 60px; width: 20px; float: left; text-align: center;}
	.questionScore{color:#c6c6c6; font-weight: bold; font-size: small; text-align: center;}
	.upArrow{}

	.upArrowImg, .downArrowImg{height:20px; width:30px;}


	.questionScore{}
	.downArrow{}


	.userQuestion{float:left; width:80%;}
	.userName{font-weight: bold;}


.clearD{clear: both;}

.questionMeta{width:20%; float:left;}




