.navbar-inner {
	background-color: white;
	font-color: black;
	background-image: none;
}

.container {
	min-height: 500px;
}

.input-prepend {
	padding: 10px 10px 10px 10px;
}

.navbar .nav.pull-right {
	font-size: 150%;
	font-weight: 200;
	margin-top:2px;
}

.bs-masthead {
	margin-top: 50px;
}

.bs-docs-nav {
	background-color: #357ebd;
}

.bs-masthead {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bs-masthead {
	position: relative;
	padding: 30px 15px;
	text-align: center;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}

.bs-docs-home .bs-old-docs {
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.bs-old-docs {
	padding: 15px 20px;
	color: #777;
	background-color: #fafafa;
	border-bottom: 1px solid #e5e5e5;
}

/*Mobile View CSS */
.iphoneEmulator{max-width:650px; margin: 0 auto; padding: 0}


.questionHeader{}
.addAuthor{display:none}
.headerControl{padding:0px;text-align: center; padding-top: 5px;}
.logoTiny{width: 100px; height:20px;
	float:left;padding-bottom: 5px;}

	.tinyLogoImg{height:20px;}
	#sort{text-align:right; margin-right: 20px; font-size: small; color:999;}
	.questionBlock{}
	.questionBlock p{margin:0; }

	.borderBottom{
		width: 90%;
		max-width: 500px;
		height: 2px;
		background: url(../img/line-sep.jpg) repeat-x;
		clear: both;
		padding-bottom: 7px;
	}

	
	.questionNo{vertical-align: middle; color: #c6c6c6; font-family: Arial; font-size: medium; line-height: 60px; width: 1px; float: left; text-align: center;}
	.questionScoreDiv{color:#c6c6c6; font-weight: bold; font-size: small; text-align: center;}
	.upArrow{}

	.upArrowImg, .downArrowImg{height:20px; width:30px;}


	.questionScore{}
	.downArrow{}


	.userQuestion{float:left; width:80%;}
	
	.userName{font-weight: bold; padding-bottom: 5px}
	.submitButton{margin-bottom:5px;}


	.gap{clear: both; width: 100%; padding-bottom: 85px}
	#writeQuestion{width:90%; max-width: 350px;}
	#authorInput{width:70%; max-width:250px;}

	.questionMeta{width:50px; padding-right: 10px; float:left;}
	.topnav1{background:#fff; position:fixed;margin-top:0;width:100%;}




